cftime<1.5
chardet<4  # temporarily pin to dependency conflict until requests library removes their <4 constraint

# Current versions of compliance-checker (5.0.1) and cc-plugin-imos (1.5.3) both use deprecated types
# numpy.float / numpy.int which have been removed in numpy 1.24
numpy<1.24.0

# Limit pandas version until we update our code for the changes in v2.0
# see https://pandas.pydata.org/docs/whatsnew/v2.0.0.html#backwards-incompatible-api-changes
pandas<2.0